body, nav, section {
  background: rgb(28,28,28);
  background: linear-gradient(90deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 73%, rgba(24,24,24,1) 98%);
}

* {
  scroll-behavior: smooth;
}

nav ul li a {
  background: transparent !important;
}

#Name {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
      text-shadow: 0 0 5px #fbff00, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
      text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

/* Add animations to all elements except header and footer */
body *:not(nav *):not(footer *):not(header):not(nav) {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#projects, #contact ,#about {
  animation: appear-transform linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  behavior: smooth;
}

@keyframes appear-transform {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

#first-text {
  font-weight: 800;
  text-shadow: #ab05ae99 2px 2px;
  font-size: 3rem;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#second-text {
  font-weight: 800;
  text-shadow: #6d05ae 2px 2px;
  font-size: 3rem;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.2s infinite alternate;
}

.span {
  color: #fbff00;
}



